@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  position: relative;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  opacity: 1;
  color: #000;
  padding: 0;
  margin: 0;
}
body::before {
  content: '';
  position: absolute;
  background-image: url('./assets/images/colorful.png');
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  z-index: -1;
}
a {
  text-decoration: none;
  color: #000;
}
.no-border {
  border: none;
  background: none;
}
.icon-btn {
  font-size: 2rem;
}
p {
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .large-screens {
    display: none;
  }
  .small-screens {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .small-screens {
    display: none;
  }
  .large-screens {
    display: block;
  }
}
